h1 {
    padding: 10px;
    text-decoration: underline;
    font-weight: bold;
}

 a {
    text-decoration: none;
    color: black;
    &:hover {
        background-color:#1beb73;
        color: white;
        padding: 10px;
        }  
    }

 ul {
    list-style: none;
    text-align: center;
}
li {
    display: inline-block;
    padding: 4.5px;
    width: 80px;
}
