<section class="matches-table">
    <h1>Jaren</h1>
    <br>
    <table class="table">
        <thead class="matches-kopjes">
            <tr>
                <th scope="col">Jaar</th>
                <th scope="col">Plaats</th>
                <th scope="col">Home Team</th>
                <th scope="col">Away Team</th>
            </tr>
        </thead>
        <tbody *ngFor="let match of matches">
            <tr>
                <th scope="row">
                    <a class="link" href="">{{match.year}}</a>
                </th>
                <th scope="row">
                    <a class="link" href="">{{match.City}}</a>
                </th>
                <th scope="row">
                    <a class="link" href="">{{match.Home_Team_Name}}</a>
                </th>
                <th scope="row">
                    <a class="link" href="">{{match.Away_Team_Name}}</a>
                </th>
            </tr>
        </tbody>
    </table>
</section>