
nav a {
    text-decoration: none;
    padding: 15px;
    color: white;
    &:hover {
        color: #90d7ff;
    }
}

nav ul {
    list-style: none;
    text-align: center;
 }
 
 nav ul li {
    display: inline-block;
 }